body {
    background-color: lightblue;

}
#Header {
    background-color:lightblue;
    color:black;
    padding:5px; 
	height:auto;
	

} 
#Header img{
	width: 15%;
}

#Twitch{
    display: inline-block;
    float: inherit;



}
