body {
    background-image: url("imgs/bear.jpg");
}
#Header {
    background-color:lightblue;
    color:Black;
    padding:5px; 
	height:auto;
	

} 
#Header img{
	width: 15%;
}

#Twitch{

    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
